.musicBox{
    height: 62vh;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(3, 125px);
    padding-left: 10px;
}
.container{
    height: 85vh;
}
.homePage{
    height: 115vh;
}
.box{
    height: 120px;
    width: 190px;
}
.box img{
    height: 120px;
    width: 190px;
}
#theme-icon{
    top: 30px;
    right: 45px;
}
#setting-icon{
    top: 30px;
    right: 10px;
}
.footer{
    font: 0.8rem;
}