
.musicBox{
    height: 85vh;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 180px);
}
.container{
    height: 110vh;
}
.homePage{
    height: 140vh;
}
.box{
    height: 160px;
    width: 270px;
}
.box img{
    height: 160px;
    width: 270px;
}
#theme-icon{
    top: 30px;
}
#setting-icon{
    top: 30px;
}